html, 
body {
/*   background: #72bdbd; */
/*   background-image: linear-gradient( 135deg, #72bdbd 10%, #2c4a63 100%);   */
    background: linear-gradient(to bottom, #00c3ff, #ffff1c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  margin: auto;
  padding-top: 0px;
font-family: 'Share Tech Mono', monospace;
}


canvas {
  display: inline-block;
/*     border-radius: 16px; */
/*   border: 16px solid rgb(44,74,99); */
}

h1{
        padding-top:24px; 
  color: rgb(44, 74, 99);
  padding-top: 12px;
}

h2{
  color: rgb(44, 74, 99, 0.85);
  font-style: oblique;
  padding: 0px;
}

p{
  color: rgb(44, 74, 99, 0.75);
  font-size: 22px;
  padding: 0px;
}


#container{
  text-align: center;
  display: block;
}

 #canvas-holder{
  padding-top: 8px;
   margin-left: auto;
     margin-right: auto;
}


#iframe-holder{
  padding-top:24px;
   margin-left: auto;
     margin-right: auto;
}

.img1 {
  padding-top: 16px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width:8%;
  height:auto;
}
